* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15.7vw;
    margin-top: 0.1vw;
    width: 74vw;
}

#imgLogo {
    width: 7.5vw;
}

#search, #glass {
    background-color: #f6f5f5;
    padding: 1.2rem;
    border-radius: 92px;
}

#search {
    font-family: ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: none;
    outline: none;
    width: 19vw;
    margin-left: -7vw;

}

#glass {
    border: none;
    margin-left: -4rem;
}

#tel {
    padding: 8px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    -webkit-align-items: center;
    border-radius: 2px;
    margin-left: -9vw;
}

#co {
    background-color: rgba(254, 44, 85, 1);
    color: white;
    margin-left: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 8px;
}
 #points {
     width: 3rem;
     margin-top: 0.5rem;
     margin-left: -17vw;
 }

 #content {
     display: flex;
     justify-content: space-around;
 }

 #menuLeft {
     margin-left: 15.7vw;
     font-size: 1.6rem;
     font-weight: bold;
 }

 #pink {
     color: rgba(254, 44, 85, 1);
 }