* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 72rem;
    margin-top: 0.5rem;
    width: 74rem;
}

#imgLogo {
    width: 14rem;
}